<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa - Inicio</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

<style>
        .header-bar {
        background-color: #491D57;
        color: white;
        padding: 10px 13px; /* Ajusta el padding según necesites */
        width: 100%;
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
        justify-content: space-between; /* Alinea los elementos con espacio entre ellos */
        position: fixed; /* Asegura que la cabecera permanezca fija en la parte superior */
        top: 0; /* Posiciona la cabecera en la parte superior de la ventana */
        z-index: 1000;
    }

    .button-container {
        display: flex;
        margin-top: 180px;
        justify-content: center; /* Centra horizontalmente */
        gap: 40px;
        align-content: center; /* Centra verticalmente */
        height: 100vh;
    }
    
    .home-icon, .placeholder {
        flex: 1; /* Asegura que el ícono y el placeholder tengan la misma flexibilidad */
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: 'Arial', sans-serif; /* Establece la fuente del texto */
        font-size: 14px; /* Establece el tamaño del texto */
        gap: 8px;
    }

    .title-container {
        flex: 5; /* Mayor flexibilidad para centrar el título */
        text-align: center; /* Centra el texto dentro del contenedor */
    }

    .custom-table td,
    .custom-table th {
        padding: 8px; /* Reduce el padding de las celdas */
        font-size: 12px; /* Reduce el tamaño de fuente */
    }

    .return-button {
        margin-right: 20px; /* Espacio entre el botón y el borde derecho */
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
</style>
</head>
<body>
    <h1>Tablas</h1>
    <div class="content">
        <div class="container">
            <h2 class="mb-5">Media</h2>
            <div class="table-responsive custom-table-responsive">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    <div class="control__indicator"></div>
                                </label>
                            </th>
                            <th scope="col">integranteId</th>
                            <th scope="col">TiposMediaId</th>
                            <th scope="col">Youtube URL</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Orden</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each media}}, 
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                                    <input type="checkbox" />
                                    <div class="control__indicator"></div>
                                </label>
                            </th>
                            <td>{{this.integranteId}}</td>
                            <td>{{this.tiposmediaId}}</td>
                            <td><iframe id="videoFavorito" "width= 100px  height= 100 px" src="{{this.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                            <td> 
                                {{#if this.nombrearchivo}}
                                    <img style="height: 100px; width: 100px; text-align: center; vertical-align: middle" src="{{this.nombrearchivo}}" alt="Media Image">
                                {{/if}}
                            </td> 
                            <td>{{this.orden}}</td>
                        </tr>
                        <tr class="spacer"><td colspan="100"></td></tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">home</span>
        </a>
        <div class="title-container">
            <b>Tabla Media</b>
        </div>
        <div class="return-button">
            <a href="/admin">Volver</a>
        </div>
        <div class="placeholder"></div> <!-- Un elemento de relleno para ayudar en la centración -->
    </div>
</body>
</html>