<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa - Colores</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .header-bar {
            background-color: #491D57;
            color: white;
            padding: 10px 13px; /* Ajusta el padding según necesites */
            width: 100%;
            display: flex;
            align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
            justify-content: space-between; /* Alinea los elementos desde el inicio del contenedor */
            position: fixed; /* Asegura que la cabecera permanezca fija en la parte superior */
            top: 0; /* Posiciona la cabecera en la parte superior de la ventana */
            z-index: 1000;
        }

        .button-container {
            display: flex;
            flex-direction: column; /* Alinea los elementos en columna */
            align-items: center; /* Centra horizontalmente */
            justify-content: center; /* Centra verticalmente */
            height: 100vh;
            margin-top: 70px; /* Ajusta el margen superior según necesites */
        }

        .home-icon, .placeholder {
            color: rgb(156, 69, 150);
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 8px;
        }

        .title-container {
            text-align: center; /* Centra el texto dentro del contenedor */
        }
        
        .container {
            max-width: 800px; /* Ajusta el ancho máximo del contenedor */
            margin: 0 auto; /* Centra el contenedor horizontalmente */
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }

        h1, h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #61206c;
        }

        tr:hover {
            background-color: #852d77;
        }

        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #333;
        }

        a:hover {
            color: #555;
        }
    </style>
</head>
<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">home</span>
        </a>
        <div class="title-container">
            <b>Tabla Colores</b>
        </div>
        <div class="placeholder"></div> <!-- Un elemento de relleno para ayudar en la centración -->
    </div>

    <div class="button-container">
        <h1>Colores</h1>
        <div class="content">
            <div class="container">
                <h2 class="mb-5">Colores</h2>
                <div class="table-responsive custom-table-responsive">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th scope="col">ID Integrante</th>
                                <th scope="col">Color de Fondo</th>
                                <th scope="col">Color de Cabecera</th>
                                <th scope="col">Color de Sección</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each colores}}
                            <tr>
                                <td>
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td>{{this.integranteId}}</td>
                                <td style="background-color: {{this.background}};">{{this.background}}</td>
                                <td style="background-color: {{this.headerBackground}};">{{this.headerBackground}}</td>
                                <td style="background-color: {{this.sectionBackground}};">{{this.sectionBackground}}</td>
                            </tr>
                            <tr class="spacer"><td colspan="5"></td></tr>
                            {{/each}}
                        </tbody>
                    </termina>
                </table>
            </div>
        </div>
    </div>

    </div>
        <a href="/admin" class="volver-button">Volver</a>

</body>
</html>